.logo{
  display: flex;
  align-items: center;
  padding-left: 30px;
  }
.logo span {
  color: MediumAquamarine;
}
header {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
}
header nav {
  padding: 40px;
  display: block;
}
nav span {
  color: inline-block;
  padding: 20px 10px;
}
.link {
  color: black;
}
.main-container {
  display: flex;
  border: solid;
  width: 100%;
  justify-content: space-around;
  position: relative;
  top: 100px;
  padding-top: 3px;

}
.column-large {
  display: flex;
  flex-direction: column;
  border: solid;
  width: 630px;
}
.large-column-story {
  border: solid;
}
.main-story-headline p {
  border: solid;
}

.image-with-headline p {
  border: solid;
}
.column-medium {
  display: flex;
  flex-direction: column;
  border: solid;
  width: 300px;
}
.medium-column-story {
  border: solid;
}
.column-small {
  display: flex;
  flex-direction: column;
  border: solid;
  width: 240px;
}
