html{
  height: auto;
}
body {
  height: auto;
}
.logo{
  display: flex;
  align-items: center;
  padding-left: 30px;
  }
.logo span {
  color: MediumAquamarine;
}
header {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  position: fixed;
  z-index: 5;

}
header nav {
  padding: 40px;
  display: block;
}
nav span {
  color: inline-block;
  padding: 20px 10px;
}
.link {
  color: black;
}
.main-container {
  display: flex;
  margin: 0 auto 78px auto;
  border: solid;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  position: relative;
  top: 100px;
  padding-top: 3px;
}
.column-large {
  display: flex;
  flex-direction: column;
  border: solid;
  width: 630px;
}
.large-column-story {
  display: flex;
  border: solid;
  flex-direction: column;
}
.story-background-image {
  display: flex;
  border: solid;
  background-image: url("../../resources/images/main story.png");
  height: 300px;
  align-items: center;
}
.main-story-headline p {
  display: flex;
  justify-content: space-around;;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}
.story-text {
  font-family: Georgia;
  font-size: 17px;
  color; Black;
}
#earth {
  display: flex;
  background-image: url("../../resources/images/fall season.png");
  height: 300px;
}
.image-with-headline {
  display: flex;
  justify-content: space-around;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.image-with-headline p {
  border: solid;
}

#camera {
  display: flex;
  background-image: url("../../resources/images/hipster cameraman.png")
}
.column-medium {
  display: flex;
  flex-direction: column;
  border: solid;
  width: 300px;
}
.medium-column-story {
  border: solid;
}
#cat {
  display: flex;
  background-image: url("../../resources/images/cat ceo.png");
}
.column-small {
  display: flex;
  flex-direction: column;
  border: solid;
  width: 240px;
}
.small-column-story {
  display: flex;
  flex-direction: column;
  border: bold;
}

}
#bites {

}
footer {
}
